[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
redis = "*"
jishaku = "*"
daug = {editable = true,git = "https://github.com/DiscordBotPortalJP/Daug.py.git"}

[requires]
python_version = "3.8"
